@model EventPlanner.Models.Guest

@{
    ViewData["Title"] = "Потвърди изтриването";
}

<h1>Сигурни ли сте, че искате да изтриете този гост?</h1>

<p>Гост: @Model.GuestName</p>

<form asp-action="Delete" method="post" onsubmit="return confirm('Сигурни ли сте, че искате да изтриете гост?');">
    <input type="hidden" asp-for="GuestID" onclick="return confirmDelete('@Model.GuestName');" />
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Откажи</a>
</form>

@* <form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="GuestID" onclick="return confirmDelete('@Model.GuestName');" />
    <button type="submit" class="btn btn-danger">Да, изтрий</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Откажи</a>
</form> *@
