@model EventPlanner.Models.Guest

@{
    ViewData["Title"] = "Поканете гост";
}

<h1>@ViewData["Title"]</h1>

<h3>Изберете събитие за поканата:</h3>
<form method="post">
    <div class="form-group">
        <label for="EventID">Събитие</label>
        <select asp-for="EventID" class="form-control" asp-items="@(ViewData["Events"] as IEnumerable<SelectListItem>)">

            <option value="">Изберете събитие</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Изпрати покана</button>
</form>